/* General Styling */
body {
    margin: 0;
    font-family: monospace;
    background: url('https://images.pexels.com/photos/29097440/pexels-photo-29097440/free-photo-of-abstract-blue-gradient-3d-art-design.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    /* background-color: rgba(32, 32, 32, 255); */
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.tab_box {
    font-size: 30px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    align-content: center;
    height: 60vh;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 40px;
    padding: 50px;
}

.textbox {
    background-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border-width: 0px;
    font-size: 25px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
}

.button-style {
    background-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    width: 30%;
    border-width: 0px;
    font-size: 25px;
    color: rgba(0,0,0,0.9);
    font-weight: bold;
}

.nav-button-style {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    align-content: center;
    height: 60px;
    cursor: pointer;
    border-width: 0px;
    margin-bottom: 10px;
}

.nav-button-container {
    margin-top: 0px;
    height:71vh;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-left: 60px;
    margin-right: 10px;
    width: 100px;
}

input:focus, textare:focus {
    outline: none;
    border: none;
}

label {
    font-family: monospace;
    font-size: 20px;
}

.login-tab {
    font-size: 30px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    align-content: center;
    height: 60vh;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 40px;
    padding: 50px;
}

.booking-tab {
    font-size: 30px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    align-content: center;
    height: 60vh;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 40px;
    padding: 50px;
}

.finalize-tab {
    font-size: 30px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    align-content: center;
    height: 60vh;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 40px;
    padding: 50px;
}
